<md-dialog class="create-product">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Product</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="productsCreate.cancel()">
        <ng-md-icon icon="close" style="fill: #fff"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name='createForm' ng-model='productsCreate.attributes' ng-submit='productsCreate.create()'>
      <md-input-container class="md-block">
        <label>Title</label>
        <input name='title' ng-model='productsCreate.attributes.title' required>
        <div ng-messages="createForm.title.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <textarea
          name='description'
          ng-model='productsCreate.attributes.description'
          rows='3'
          required>
        </textarea>
        <div ng-messages="createForm.description.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Price</label>
        <input name='price' type='number' step="0.01" ng-model='productsCreate.attributes.price' required>
        <div ng-messages="createForm.price.$error">
          <div ng-message="required">This is required!</div>
          <div ng-message="number">Not a number!</div>
        </div>
      </md-input-container>
      <lf-ng-md-file-input
        lf-files='productsCreate.attributes.files'
        lf-browse-label="Browse..."
        multiple
        drag preview>
      </lf-ng-md-file-input>
      <md-content>
        <md-button class="md-primary" type="submit">Create</md-button>
        <button class="md-button" type="reset" ng-click="productsCreate.cancel()">Cancel</button>
      </md-content>
    </form>
  </md-dialog-content>
</md-dialog>
