/* styles in src/style directory are applied to the whole page */
body {
  background: #0147A7;
  color: #fff;
  height: 100% important!;
}

a {
  color: #03A9F4;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
