<md-content layout-gt-sm="row" layout-padding flex>
  <h4 class="title" flex>{{productsList.pageTitle}}</h4>
  <button class="md-button" ng-click="productsList.showCreateDialog()" flex>New</button>
</md-content>
<md-content layout-gt-sm="row" layout-padding flex>
  <md-input-container class="md-block" flex='grow'>
    <label>Search</label>
    <input type='text'
      ng-model="productsList.searchQuery" ng-model-options="{ debounce: 500 }"
      ng-change='productsList.search(productsList.searchQuery, 1)'/>
  </md-input-container>
</md-content>
<md-content class="md-padding" layout-wrap>
  <div class="product-card" flex-xs flex-gt-xs="30" ng-repeat="product in productsList.products">
    <md-card md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-body-2">{{product.title}}</span>
          <span class="md-body-1">{{product.description | limitTo: 20}}{{product.description.length > 20 ? '...' : ''}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-align="space-between">
        <div class="md-media-xl card-media">
          <img ng-src="{{product.attachments[0].middle}}" class="product-image" alt="{{product.title}}" />
        </div>
        <md-card-actions layout="column">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon>favorite</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon>menu</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="productsList.showImages(product)" aria-label="Images">
            <md-icon>photo</md-icon>
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</md-content>
<dp-infloader
  container-class='main-container'
  page='productsList.page'
  total='productsList.total'
  search-query='productsList.searchQuery'
  load-func='productsList.isSearch ? productsList.search(q, page) : productsList.loadProducts(page)'>
</dp-infloader>
