h4.title {
  text-align: center;
  display: block;
  width: 50%;
}

md-dialog.create-product {
  width: 40em;

  form.product-create {
    padding: 1em;
  }
}

md-dialog.product-images {
  width: 50%;
}

div.product-card {
  display: inline-block;
  float: left;

  img.product-image {
    width: 100%;
  }
}
